<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adk.ssm.dao.PermissionsMapper">
    <resultMap id="PermissionsMap" type="com.adk.ssm.domain.Permissions">
        <result column="id" property="id"></result>
        <result column="permissionsName" property="permissionsName"></result>
        <result column="url" property="url"></result>
        <collection property="roles"
                    column="id"
                    ofType="com.adk.ssm.domain.Role"
                    select="com.adk.ssm.dao.RoleMapper.findByPermissionsId">
        </collection>
    </resultMap>

    <select id="findAll" resultMap="PermissionsMap">
        select * from permissions
    </select>

    <select id="findByRoleId" resultMap="PermissionsMap">
        select * from permissions where id in (select permissionsId from role_permissions where roleId=#{id})
    </select>

    <insert id="addPermissions" parameterType="com.adk.ssm.domain.Permissions">
        insert into permissions(id,permissionsName,url)
        values (#{id},#{permissionsName},#{url})
    </insert>

    <select id="findById" resultMap="PermissionsMap">
        select * from permissions where id=#{id}
    </select>

    <delete id="deleteFromrole_permissions">
        delete from role_permissions where permissionsId=#{id}
    </delete>

    <delete id="deletePermissionsById">
        delete from permissions where id=#{id}
    </delete>

    <delete id="deleteRoleById">
        delete from role_permissions where permissionsId=#{pid} and roleId=#{rid}
    </delete>
</mapper>
